<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">OFFICIAL T3N4CI0US | CONTACT</title>
    <meta itemprop="name" content="T3N4CI0US OFFICIAL SITE">
    <meta property="og:site_name" content="OFFICIAL T3N4CI0US">
    <meta property="og:title" content="OFFICIAL T3N4CI0US">
    <link rel="stylesheet" href="/assets/css/main.min.css">
    <link rel="stylesheet" href="/assets/css/member.min.css">
    <link rel="stylesheet" href="/assets/css/research.min.css">
    <link rel="stylesheet" href="/assets/css/contact.css">
</head>
<body>
    <haeder>
        <div class="toggle-btn" onclick="myFunction();">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="logo">
            <h1>T3N4CI0US</h1>
        </div>
        <nav id="nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/member">Member</a>
                </li>
                <li>
                    <a href="/research">Research</a>
                </li>
                <li>
                    <a href="/writeup">Write-up</a>
                </li>
                <li>
                    <a class="active" href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
    </haeder>
    <main class="mb-auto">
        <div class="divide-y divide-gray-200 dark:divide-gray-700">
            <div class="pt-6 pb-8 space-y-2 md:space-y-5">
                <h1 class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14"></h1>
                <p class="text-lg leading-7 text-gray-500 dark:text-gray-400">&nbsp;</p>
            </div>
            <div class="container py-12">
                <div class="flex flex-wrap -m-4 place-items-stretch">
                    <div class="flex flex-col p-6 gap-6 box-support">
                        <div>
                            <h2 class="mb-3 text-2xl font-bold leading-8 tracking-tight support-text">Help & Support</h2>
                            <p class="flex flex-row flex-wrap items-start gap-2 mb-3 max-w-none support-sub-text">Our support team is <br> spread across the globe to <br> give you answers fast.</p>
                        </div>
                        <div class="svg-wrapper" style="position: absolute; height: 40; width: 150; top: 330px; left: 90px;">
                            <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                                <rect id="shape" height="40" width="150"/>
                                <div id="text">
                                    <a href="mailto:t3n4ci0us@naver.com?subject=Help-Support">
                                        <span class="spot"></span>
                                        Support
                                    </a>
                                </div>
                            </svg>
                        </div>
                    </div>
                    <div class="flex flex-col p-6 gap-6 box-partner">
                        <div>
                            <h2 class="mb-3 text-2xl font-bold leading-8 tracking-tight partner-text">Partnership</h2>
                            <p class="flex flex-row flex-wrap items-start gap-2 mb-3 max-w-none support-sub-text">Our support team is <br> spread across the globe to <br> give you answers fast.</p>
                        </div>
                        <div class="svg-wrapper" style="position: absolute; height: 40; width: 150; top: 330px; left: 90px;">
                            <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                                <rect id="writeup-shape" height="40" width="150"/>
                                <div id="text">
                                    <a href="mailto:t3n4ci0us@naver.com?subject=Partnership">
                                        <span class="spot"></span>
                                        Partnership
                                    </a>
                                </div>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript">
        function myFunction() {
            var navbar = document.getElementById('nav');
            navbar.classList.toggle('show');
        }
    </script>
</body>
</html>