<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">OFFICIAL T3N4CI0US | WRITE-UP</title>
    <meta itemprop="name" content="T3N4CI0US OFFICIAL SITE">
    <meta property="og:site_name" content="OFFICIAL T3N4CI0US">
    <meta property="og:title" content="OFFICIAL T3N4CI0US">
    <link rel="stylesheet" href="/assets/css/main.min.css">
    <link rel="stylesheet" href="/assets/css/member.min.css">
    <link rel="stylesheet" href="/assets/css/research.min.css">
</head>
<body>
    <haeder>
        <div class="toggle-btn" onclick="myFunction();">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="logo">
            <h1>T3N4CI0US</h1>
        </div>
        <nav id="nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/member">Member</a>
                </li>
                <li>
                    <a href="/research">Research</a>
                </li>
                <li>
                    <a class="active" href="/writeup">Write-up</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
    </haeder>
    <main class="mb-auto">
        <div class="divide-y divide-gray-200 dark:divide-gray-700">
            <div class="pt-6 pb-8 space-y-2 md:space-y-5">
                <h1 class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14"></h1>
                <p class="text-lg leading-7 text-gray-500 dark:text-gray-400">&nbsp;</p>
            </div>
            <div class="container py-12">
                <div class="flex flex-wrap -m-4 place-items-stretch">
                    <div class="w-full p-4 md:w-1/2" style="max-width:544px">
                        <div class="flex flex-col h-full gap-6 p-6 overflow-hidden border-2 border-gray-200 rounded-md md:flex-row border-opacity-60 dark:border-gray-700"> 
                            <div>
                                <h2 class="mb-3 text-2xl font-bold leading-8 tracking-tight" id="research-title">CTF &nbsp; - &nbsp; Knight CTF 2022</h2>
                                <p class="flex flex-row flex-wrap items-start gap-2 mb-3 max-w-none"> 
                                    <span class="inline-block px-3 py-1 text-white rounded-full bg-green-800" id="resaerch-author">Author : Sy2n0</span> 
                                </p>
                                <button>
                                    <a href="https://github.com/Sy2n0/Activities/tree/main/CTF/2022/Knight%20CTF" alt="button" id="ctf_read">Read More</a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="w-full p-4 md:w-1/2" style="max-width:544px">
                        <div class="flex flex-col h-full gap-6 p-6 overflow-hidden border-2 border-gray-200 rounded-md md:flex-row border-opacity-60 dark:border-gray-700"> 
                            <div>
                                <h2 class="mb-3 text-2xl font-bold leading-8 tracking-tight" id="research-title">CTF &nbsp; - &nbsp; TFC CTF 2021</h2>
                                <p class="flex flex-row flex-wrap items-start gap-2 mb-3 max-w-none"> 
                                    <span class="inline-block px-3 py-1 text-white rounded-full bg-green-800" id="resaerch-author">Author : Sy2n0</span> 
                                </p>
                                <button>
                                    <a href="https://github.com/Sy2n0/Activities/tree/main/CTF/2021/TFC%20CTF%202021" alt="button" id="ctf_read">Read More</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript">
        function myFunction() {
            var navbar = document.getElementById('nav');
            navbar.classList.toggle('show');
        }
    </script>
</body>
</html>